{% extends 'main/layout.html' %}

<center>
{% block title %}Новости на сайте{% endblock %}
</center>

{% block content %}
    <h4>Новости на сайте</h4>
    <div class="features">
        {% if news %}
            {% for new in news %}
                <div class="alert alert-warning">
                    <h3>{{new.title}}</h3>
                    <p>{{new.anons}}</p>
                    <a href="{% url 'news_detail' new.id %}" class="btn btn-warning">Читать дальше!</a>
                </div>
            {% endfor %}
        {% else %}
            <p>У вас нет записей!!!</p>
        {% endif %}
    </div>
{% endblock %}