{% extends 'main/layout.html' %}
{% load crispy_forms_tags %}

{% block title %}Авторизация{% endblock %}


{% block content %}
<div class="container">
  <div class="form-section">
        <h1>Авторизация</h1>
        <form method="post">
          {% csrf_token %}<br>
          {{ form|crispy }}<br>
          <button class="btn btn-warning" type="submit">Войти</button>
        </form>
      <br>
      Нет аккаунта? <button class="btn btn-warning"><a href="{% url 'reg' %}">Зарегистрироваться</a></button>

  </div>
</div>
{% endblock %}